.Container {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 95%;
    border: 1px solid #eee;
    text-align: left;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: auto;
}

@media (min-width: 750px) {
    .Container {
        width: 50%;
        margin: 0;
        display: inline-block;
    }
}

.CartItem {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(5, minmax(20px, auto));
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.ImageContainer {
    box-sizing: border-box;
    grid-row: 1/5;
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    width: auto;
}

.image {
    max-width: 100%;
    height: auto;
}

.LargerFont {
    font-size: 17px;
}

.SmallerFont {
    font-size: 13px;
}

.ProductName {
    grid-column: 2/4;
}

.Numbers {
    height: 30px;
    margin-left: 30px;
}

.del {
    grid-row: 2/6;
    grid-column: 3/4;
    display: flex;
    align-self: flex-end;
    cursor: pointer;
}